*.iml
*.aab
.gradle
local.properties
.idea
build

captures
.DS_Store
keystore.jks
keystore.properties

buildSrc/.gradle
buildSrc/build

app/build
customlibs/Commons/build

customviews/BubbleHeadsView/build
customviews/AutoLinkTextView/build
customviews/DraggableTreeView/build
customviews/CalculatorDialogView/build
customviews/PageFlipView/build
customviews/StickyTimelineView/build

demos/BubbleHeadsDemo/build
demos/AutoLinkTextViewDemo/build
demos/DraggableTreeDemo/build
demos/CalculatorDialogDemo/build
demos/PageFlipDemo/build
demos/StickyTimelineDemo/build
