*.iml
*.aab
.gradle
local.properties
.idea
build

captures
.DS_Store
keystore.jks
keystore.properties

buildSrc/.gradle
buildSrc/build

app/build
customlibs/Commons/build

customviews/BubbleHeadsView/build
customviews/CalculatorDialogView/build
customviews/PageFlipView/build

demos/BubbleHeadsDemo/build
demos/CalculatorDialogDemo/build
demos/PageFlipDemo/build
